<section>
    <h3>Propriedades de uma Progressão Aritmética</h3>
    <p class="p-justify">
            <strong>I. Qualquer termo, a partir do segundo, será a média aritmética entre o anterior e o posterior:</strong><br>
        (a<sub>k</sub>) = ... <br>
        Obs.: Colocar fórmula aqui com mathjax ou outro html<br>
        <br>
        <strong>II. A soma dos termos equidistantes dos extremos é igual a soma dos extremos:</strong><br>
        a2+an-1=a3+an-2=a4+an-3=...=a1+an
    </p>
  </section>