<div class="row ifmath-conteudo__titulo">
    <span class="ifmath-conteudo__txt-titulo">Propriedades de uma Progressão Geométrica</span>
</div>
<div class="row">
    <!-- Title -->
    <div class="col-sm-12 col-md-6">
      <section>
        <p class="p-justify">
          I. Numa P.G. com número ímpar de elementos, temos que o quadrado do termo médio é igual ao produto dos extremos.
        </p>
      </section>
    </div>
    
    <div class="col-sm-12 col-md-6">
        <p class="p-justify">
            II. O produto dos termos equidistantes dos extremos de uma P.G. é igual ao produto desses extremos.
        </p>
    </div>
</div>

  